// Estilos globales
// todas las reglas @use deben ir en primer lugar (saas requirement)
@use '@angular/material' as mat;
@use 'styles/tokens';
@use 'styles/reset';
@use 'styles/layout';

// Angular Material M3 theme
html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}
